* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  /* float: left; */
  padding: 10px;
  height: 100%; /* Should be removed. Only for demonstration */
}

.left {
  width: 60%;
}

.right {
  width:30%;
  height: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.right_header {
  border-left: 0%;
  display: flex;
  justify-content: right;
  margin-right: 0px;
  margin-left: auto;
  width: 0%;
}


h1{
  /* text-align: center; */
  color: rgb(94, 94, 94)
}

.first{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  /* width: 90%; */
  margin-top: 10px; 
}

img{
  width: 100%;
}
body{
  background-color: rgb(220, 255, 249);
}

p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: ReithSans,Helvetica,Arial,freesans,sans-serif;
}

.right_header {
  border-left: 0%;
  display: flex;
  justify-content: right;
  margin-right: 0px;
  margin-left: auto;
  width: 60%;
}
* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 100%; /* Should be removed. Only for demonstration */
}

.left {
  width: 72%;
}

.right {
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}