.home{
    width: 20%;
    background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  /* width: 90%; */
  margin-top: 10px; 
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column {
    float: left;
    padding: 10px;
    height: 100%; /* Should be removed. Only for demonstration */
  }